<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" 
           path="handler.fcgi" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="D:\Python311\python.exe|D:\Python311\Lib\site-packages\wfastcgi.py" 
           resourceType="Unspecified" 
           requireAccess="Script" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
    </staticContent>
  </system.webServer>
</configuration>
